:root {
    // Colours
    // --c-brand: #00FF00;
    --c-brand: #80FCD3;
    --c-darkest: #2D2D2D;
    --c-lightest: #FFFFFF;

    // Grid
    --col-1: 8.33%;
    --col-2: 16.67%;
    --col-3: 25%;
    --col-4: 33.33%;
    --col-5: 41.67%;
    --col-6: 50%;
    --col-7: 58.33%;
    --col-8: 66.67%;
    --col-9: 75%;
    --col-10: 83.33%;
    --col-11: 91.67%;
}

* {
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'League Spartan', sans-serif;
    font-size: 1.6rem;
    font-weight: 200;
    background: var(--c-darkest);

    // Fallback vars
    --text-color: var(--c-darkest);
    --bg-color: var(--c-lightest);
}

body.stop-scrolling {
    overflow: hidden;
    scroll-behavior: initial;
}

// Spacing
.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 960px) {
        width: 95%;
        max-width: 116rem;
    }
}

// Typography

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    color: var(--text-color);
    letter-spacing: -.05rem;
    font-weight: 400;
}

p {
    line-height: 1.125;
}

img {
    width: 100%;
    height: auto;
}

// Buttons

.btn {
    position: relative;
    color: var(--bg-color);
    background-color: var(--btn-color);
    border: .1rem solid var(--btn-color);
    text-decoration: none;
    display: inline-block;
    padding: 1.4rem 2rem 1rem;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: .05rem;
    overflow: hidden;
    // transition: all .2s ease-in-out;

    span {
        position: relative;
        z-index: 2;
    }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        height: 100%;
        width: 100%;
        background-color: var(--bg-color);
        z-index: 1;

        transition: all .2s ease-in-out;
    }

    // &:hover {
    //     color: var(--btn-color);
    //     &:after {
    //         left: 0;
    //     }
    // }

    &--outline {
        color: var(--btn-color);
        border-color: var(--btn-color);
        background-color: var(--bg-color);
        outline: .1rem solid var(--btn-color);
        outline-offset: -.1rem;

        &:after {
            display: none;
        }

        // &:hover {
        //     color: var(--btn-color);
        //     outline-width: .3rem;
        //     outline-offset: -.3rem;
        // }
    }


}

// Backgrounds

.section-dark {
    --text-color: var(--c-lightest);
    --bg-color: var(--c-darkest);
    --btn-color: var(--c-brand);
    background-color: var(--bg-color);
    color: var(--text-color);
}

.section-brand {
    --text-color: var(--c-darkest);
    --bg-color: var(--c-brand);
    --btn-color: var(--c-darkest);
    background-color: var(--bg-color);
    color: var(--text-color);
}